<table class="table">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Leave</th>
      <th>Leave Type</th>
      <th>Number of Days</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><select name="action" id="action">
        <option value="pending">--select--</option>
        <option value="approve">Approve</option>
        <option value="reject">Reject</option>
      </select></td>
    </tr>
  </tbody>
</table>
