<div style="position: absolute;">
  <ul>
    <li>
      <a class="nav-link"
      [routerLink]="['/employees']">Employees-List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/leaveConfig']">Leave Configuration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile/1']">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/leaveList']">Leave List</a>
    </li>
  </ul>
</div>
<div class="container" style="position: relative;">
  <router-outlet></router-outlet>
</div>
